* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 1440px;
  width: 100%;
  min-height: 100vh;
  padding: 20px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 920px;
  width: 100%;
  max-height: 500px;
  height: 100%;
  border-radius: 8px;
}

@media (max-width: 500px) {
  .container {
    display: flex;
    flex-direction: column;
    max-height: none;
    height: auto;
    align-items: stretch;
  }
}

@media (max-width: 360px) {
  .container {
    display: flex;
    flex-direction: column;
    max-height: none;
    height: auto;
    align-items: stretch;
  }
}

.card {
  max-width: 307px;
  width: 100%;
  height: auto;
}

.card-one {
  background-color: #e28625;
}

.card-two {
  background-color: #006971;
}

.card-three {
  background-color: #004140;
}

.card-content {
  display: grid;
  align-items: center;
  justify-content: left;
  padding: 48px;
  gap: 40px;
}

.card h1 {
  color: #f2f2f2;
  text-align: left;
  font-family: 'Big Shoulders Display', sans-serif;
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 0px;
}

.card p {
  color: #ffffff;
  text-align: left;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  opacity: 75%;
  padding-bottom: 20px;
}

.btn {
  background-color: #f2f2f2;
  display: flex;
  align-items: center;
  text-align: left;
  font-family: 'Lexend Deca', sans-serif;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 0px;
  line-height: 25px;
  max-width: 146px;
  width: 100%;
  border: none;
  border-radius: 25px;
  padding: 13px 29px;
}

.btn-one {
  border: 2px solid transparent;
  color: #e28625;
  transition: all 0.3s ease-in-out;
}

.btn-one:hover {
  cursor: pointer;
  background-color: #e28625;
  border-color: #ffffff;
  color: #ffffff;
}

.btn-two {
  border: 2px solid transparent;
  color: #006971;
  transition: all 0.3s ease-in-out;
}

.btn-two:hover {
  cursor: pointer;
  background-color: #006971;
  border-color: #ffffff;
  color: #ffffff;
}

.btn-three {
  border: 2px solid transparent;
  color: #004140;
  transition: all 0.3s ease-in-out;
}

.btn-three:hover {
  cursor: pointer;
  background-color: #004140;
  border-color: #ffffff;
  color: #ffffff;
}
